{
  "presets": ["es2015", "react"],
  "plugins": [
    "react-hot-loader/babel",
    // Enables React code to work with HMR.
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
