# Build
build/app.js
build/style.css

# Logs
logs
*.log

# Coverage directory used by tools like nyc
.nyc_output
coverage

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules

# Users Environment Variables
.lock-wscript

.idea
